@font-face {
    font-family: 'geometos_roundedregular';
    src: url('geometos_rounded-webfont.woff2') format('woff2'),
         url('geometos_rounded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geometosregular';
    src: url('geometos-webfont.woff2') format('woff2'),
         url('geometos-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-webfont.woff2') format('woff2'),
         url('bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  color: #fff;
  padding-top: 190px;
  text-align: center;
  font-family: 'geometosregular', sans-serif;
  font-size: 20px;
  background: #000;
  background-image: url(../images/black_stars_bg_40.jpg)
}

div.load{
  opacity: 1;
}

p, td {	
	font-size: 16px;
}

a , a:link, a:visited{
	color: #FFF;
	/*color:  #AB60CB #FE11F5; #D8348D;#908AF6 #F31143*/
	text-decoration: none;	
}

a:active {
	text-decoration: none;
	color: #FFD700;
}

a:hover {
	text-decoration: none;
	color: #FFD700;
}
h1{
	font-size: 60px;
}

h2{
  font-size: 36px;
}

h3{
  font-size: 28px;
}

h4{
  font-size: 24px;
}
nav li {
	font-size: 20px;
}

li.active {
	background-color: rgba(0,0,0,.6);	
}

li.active a {
	color: #FFD700;
}

@media screen and (max-width: 480px) {
    h1 {
    	font-size: 30px;
    }
    h2 {
      font-size: 26px;
    }

    h3 {
      font-size: 22px;
    }

    h4 {
      font-size: 20px;
    }

    #header-nav{
      height: 80px;
    }
    .fp-controlArrow{
      display: none;
    }
}

@media (max-width: 768px){
  #main-nav ul{
    padding: 0px;
  }
  #main-nav li {
    font-size: 15px;
    height: 100%;
    vertical-align: top;
  }

  #main-nav{
    height: 21px;

  }  
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  p.p-descarga {
    font-size: 16px;
  }
  label{
    font-size: 14px;
  }
  input#input-email {
    width: 150px;
  }
  input#input-name {
    width: 150px;
  }
}

@media (min-width: 769px) {
  nav #header-nav {
    width: 750px;
    height: 90px;
  }
}

@media (min-width: 992px) {
  #header-nav {
    width: 970px;
    height: 130px;
  }
}

@media (min-width: 1200px) {
  #header-nav {
    width: 1170px;
    height: 110px;
  }
}

input{
  color: #000;
}

input#input-button{
}

/** HEADER **/
#header-nav {
  margin: auto; 
  position:fixed;
  background: #000;
  padding-top: 15px;
}

#main-nav{
	background: #111;
	/*color: #C02BDE;*/
}

#main-nav ul{
	margin-bottom: 0px;
}

#main-nav li{
	padding-left: 20px;
	padding-right: 20px;
}

#social-nav{
	position: fixed;
	right: 50px;
	top: 22px;

}


#logo-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: url('../images/muxe_rb_xs.jpg') no-repeat;
  width: 120px;
  height: 54px;
}

#logo-img-footer {
  margin-left: auto;
  margin-right: auto;
  background: url('../images/muxe-black-cropped-xxs.png') no-repeat;
  width: 80px;
  height: 36px;
}

.svg path {
	fill: #FFF;
}

.svg {
	width:36px;
}

svg:hover path{
	fill: #FFD700;
}

/**CONTAINER**/

.container {
	height: 100%;
	background: rgba(20, 20, 20, .5);
	padding-left:30px;
	padding-right:30px;	
}

.container h1{
	color: #FFF;
}
#main-image {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

/** SECTIONS **/

#contenido0 > div{
  padding-top: 35px;
}

#conciertos th {
	text-align: left;
}

#conciertos td {
	text-align: left;
}

/**CONTROLS**/
/*.selected-index a{
	background: #908AF6;
}*/

/**TABLE**/
th{
  color: #666;
  font-size: 18px;
  text-align: center;
}
td{
  color: #fff;
}
/**FORM**/
label{
  font-size: 20px;
  font-weight: normal;
  margin-left: 15px;
}

p.p-descarga{
  font-size: 16px;
} 

input#input-name{
  vertical-align: bottom;
}

input#input-email{
  vertical-align: bottom;
}

input#input-button{
  margin-left: 5px;
}