/** FONTS **/
@font-face {
    font-family: 'geometos_roundedregular';
    src: url('geometos_rounded-webfont.woff2') format('woff2'),
         url('geometos_rounded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geometosregular';
    src: url('geometos-webfont.woff2') format('woff2'),
         url('geometos-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  color: #fff;
  padding-top: 190px;
  text-align: center;
  font-family: 'geometosregular', sans-serif;
  font-size: 20px;
  background: #000;
  background-image: url(../images/black_stars_bg_40.jpg)
}

/** GENERAL **/

p, td{	
	font-size: 15px;
  font-family: 'Montserrat', sans-serif; 
}

strong{
  font-family: 'geometosregular';
  letter-spacing: 5px;
}

/**LINKS**/
a , a:link, a:visited{
	color: #FFD700;
	/*color:  #AB60CB #FE11F5; #D8348D;#908AF6 #F31143*/
	text-decoration: none;	
}

a:active {
	text-decoration: none;
	color: #FFF;
}

a:hover {
	text-decoration: none;
	color: #FFF;
}

/**LISTS**/

li.active {
	background-color: rgba(0,0,0,.6);	
}

li.active a {
	color: #FFF;
}

/**FORM**/

label{
  font-weight: normal;
  margin-left: 15px;
}

input{
  color: #000;
}

/** SVG SOCIAL NAVBAR & FOOTER BUTTONS **/
.svg path {
  fill: #FFF;
}

svg:hover path{
  fill: #FFD700;
}

/** SECTION SPECIFIC SETTINGS **/

/** HEADER **/

#header-nav {
  margin: auto; 
  position:fixed;
  background: #000;
  padding-top: 15px;
}

#main-nav{
  background: #111;
}

#main-nav ul{
  margin-bottom: 0px;
}


#social-nav{
  position: fixed;
  right: 50px;
  top: 22px;

}


#logo-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: url('../images/muxe_rb_xs.jpg') no-repeat;
  width: 120px;
  height: 54px;
}

#logo-img-footer {
  margin-left: auto;
  margin-right: auto;
  background: url('../images/muxe-black-cropped-xxs.png') no-repeat;
  width: 80px;
  height: 36px;
}


/**CONTAINER**/

.container {
  height: 100%;
  background: rgba(20, 20, 20, .5);
  padding-left:50px;
  padding-right:50px; 
}

#main-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#contenido0{
  padding-top: 400px
}
/**** RESPONSIVE SETTINGS ****/

/***iPhone4 and smaller ***/
@media screen and (max-width: 480px) {
  #footer{
    display: none;
  }
}

/***Bigger than iPhone4 smaller than iPad portrait ***/
@media screen and (max-width: 736px) {
  #header-nav{
    height: 80px;
  }
  .fp-controlArrow{
    display: none;
  }

  #footer{
    position: fixed;
    width: 100%;
    top: 80px;
  }

  h3{
    font-size: 11px;
    letter-spacing: 4px;
  }


  th{
    color: #666;
    font-size: 8px;
    text-align: center;
  }

  td{
    color: #fff;
    font-size: 6px;
  }

  p{
    font-size: 10px;
  }

  label{
    font-size: 15px;
    letter-spacing: 5px;
  }

  .svg {
   width:24px;
  }
}

/***Bigger than iPhone4 smaller than iPad portrait ***/
@media (min-width: 737px){
  h3{
    font-size: 13px;
    letter-spacing: 4px;
  }
  .svg {
   width:28px;
  }
  #main-nav ul{
    padding: 0px;
  }
  #main-nav li {
    font-size: 13px;
    vertical-align: top;
    letter-spacing: 4px;
  }

  #main-nav{
    height: 18px;

  }  

  label{
    font-size: 14px;
  }

  #footer{
    position: fixed;
    width: 100%;
    bottom: 60px;
  }

  input#input-email {
    width: 385px;
  }

  th{
    color: #666;
    font-size: 13px;
    text-align: center;
  }

  td{
    color: #fff;
    font-size: 14px;
  }
}

/*** Laptops and larger displays ***/ 
@media (min-width: 769px) {
 
  h3{
    font-size: 15px;
    letter-spacing: 5px;
  }
  .svg {
   width:36px;
  }
  #main-nav li {
    font-size: 15px;
    vertical-align: top;
    letter-spacing: 5px;
  }

  #main-nav{
    height: 21px;

  }  

  nav #header-nav {
    width: 750px;
    height: 90px;
  }

  #main-nav li{
    font-size: 15px;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
  }

  input#input-email{
    vertical-align: bottom;
    width: 465px;
  }

  input#input-button{
    margin-left: 8px;
  }

  th{
    color: #666;
    font-size: 15px;
    text-align: center;
  }

  td{
    color: #fff;
    font-size: 16px;
  }

  p.p-descarga {
    font-size: 16px;
  }

}
/* ** LARGER DISPLAYS **
@media (min-width: 992px) {
  #header-nav {
    width: 970px;
    height: 130px;
  }
}

@media (min-width: 1200px) {
  #header-nav {
    width: 1170px;
    height: 110px;
  }
} */











